<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291825590312-mp40gcqm71qik85g52nkviimorl6ont7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291825590312-mp40gcqm71qik85g52nkviimorl6ont7</string>
	<key>API_KEY</key>
	<string>AIzaSyCp_x_ZnjDrUFUV9FtOpUOJ2NRznDqqbz0</string>
	<key>GCM_SENDER_ID</key>
	<string>291825590312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdc.linkuss</string>
	<key>PROJECT_ID</key>
	<string>linkuss-1d74d</string>
	<key>STORAGE_BUCKET</key>
	<string>linkuss-1d74d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291825590312:ios:2475681bab89839853d51d</string>
</dict>
</plist>